<% if nuevo %>
  <input id="nuevo" type="checkbox" checked disabled hidden >
<% else %>
  <input id="nuevo" type="checkbox" disabled hidden >
<% end %>
<%= form_with(model: @datos_personal, local: true) do |form| %>
  <% if @datos_personal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datos_personal.errors.count, "error") %> impidieron guardar los datos personales:</h2>
      <ul>
        <% @datos_personal.errors.full_messages.each do |message| %>
          <li>
            <% case message %>
            <% when "Curp has already been taken" %>
              La CURP ya existe.
            <% when "User must exist" %>
              El usuario seleccionado ya existe.
            <% else %>
              <%= message %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if nuevo %>
    <div class="hstack gap-3">
      <%= form.label :usuario, "Usuario" %>
      <%= form.text_field :usuario, class: "form-control" %>
      <%= form.label :password, "Contraseña" %>
      <%= form.password_field :password, class: "form-control",disabled:true %>
      <%= form.label :rol%>
      <%= form.select :rol, options_for_select([['Administrador', 1], ['Usuario', 2]]), {}, class: "form-select" %>
    </div> 
  <fieldset id="datos_personales" class="form-group" disabled >
  <% else %>   
  <fieldset id="datos_personales" class="form-group" >
    <div class="hstack gap-3">
      <p><b>Usuario :</b></p>
      <p><%= @user.username %></p>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <%= form.label :nombre, "Nombre" %>
      <%= form.text_field :nombre, class: "form-control" %>
      <%= form.label :apellido_paterno, "Apellido Paterno" %>
      <%= form.text_field :apellido_paterno, class: "form-control" %>
      <%= form.label :apellido_materno, "Apellido Materno" %>
      <%= form.text_field :apellido_materno, class: "form-control" %>
      <%= form.label :unidad, "Unidad de Procedencia" %>
      <%= form.text_field :unidad, class: "form-control" %>
    </div>
    <div class="col">
      <%= form.label :puesto, "Puesto" %>
      <%= form.text_field :puesto, class: "form-control" %>
      <%= form.label :curp, "CURP" %>
      <%= form.text_field :curp,maxlength:18 ,class: "form-control" %>
      <%= form.label :correo, "Correo" %>
      <%= form.email_field :correo,class: "form-control" %>
      <%= form.label :carta, "Carta de Confidencialidad" %>
      <%= form.file_field :carta, class: "form-control" %>
    </div>
  </div>
  <br>
  
  </fieldset>
  <% if nuevo %>
    <%= form.submit "Guardar",id:"sbm",class: "btn btn-sm btn-success",disabled:true %>
  <% else%>
    <%= form.submit "Actualizar",class: "btn btn-sm btn-success" %>
  <% end %>
  <%# if @user.nil? == false %>
  <%# form.submit "Guardar",class: "btn btn-sm btn-success" %>
  <%# else %>
  
  <%# end %>
  <%# link_to 'Volver', home_administracion_path,class: "btn btn-sm btn-secondary" %>
<% end %>
<br>
<br>
<br>