<div class="container form-control bg-white" data-controller="home">
  <div class="hstack gap-3">
    <h3>Administración</h3>
    <%= link_to "Nuevo Usuario", new_datos_personal_path, class: "btn btn-sm btn-success" %>
     <%= form_with url: home_buscar_admon_path, method: :post do |s| %>
      <div class="input-group input-group-sm ms-auto" style="width: 250px;">
        <span class="input-group-text" id="basic-addon1"><%= image_tag("search-b.min.svg", size: "20x20") %></span>
        <%= s.text_field :busqueda, value: session[:busqueda], class: "form-control", placeholder: "Buscar usuario", aria: { describedby: "basic-addon1" } %>
        <button class="btn btn-sm btn-primary" type="submit">Buscar</button>
      </div>         
     <% end %>     
  </div>
  <table class="table table-hover letra" >
    <thead class="table-dark">
      <tr>
        <th>Nombre de usuario</th>
        <th>Nombre</th>
        <th>Titulo</th>
        <th>Puesto</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @usuarios.each do |usuario| %>
        <% if usuario.datos_personal.nil? == false %>
          <tr>
            <td><b><%= usuario.username %></b></td>
            <td><%= usuario.datos_personal.nombre_completo %></td>
            <td><%= usuario.datos_personal.titulo %></td>
            <td><%= usuario.datos_personal.puesto %></td>
            <td>
              <%= link_to raw("#{image_tag("binoculars.svg")} Ver"), datos_personal_path(usuario.datos_personal.id), class: "btn btn-sm btn-primary" %>
              <% unless usuario.rol == 1 %>
                <%= link_to raw("#{image_tag("pencil-square.svg")} Editar"), edit_datos_personal_path(usuario.datos_personal.id), class: "btn btn-sm naranja_sin_adorno" %>
                <%= link_to raw("#{image_tag("trash.svg")} Eliminar"), home_eliminar_path(id:usuario.id), data: { confirm: '¿Estas seguro?' },class: :"btn btn-sm btn-danger" %>
                <%= link_to raw("#{image_tag("key.svg")} Cambiar Contraseña"), edit_password_path(id:usuario.id),class: :"btn btn-sm btn-warning" %>
              <% end %>
            </td>
          </tr>
        <% else %>
          <tr >
            <td><%= usuario.username %></td>
            <td colspan = "3">
              Crear datos personales para el usuario <b><%= usuario.username %></b>
            </td>
            <td>
              <%= link_to "Llenar datos", new_datos_personal_path(user:usuario.id),class: :"btn btn-sm btn-success"%>
            </td>
          </tr>          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>