<div class="container form-control bg-white" data-controller="home">
  <% if current_user.datos_personal.nil? %>
    <div> Ingrese sus Datos personales para poder capturar</div>
    <br>
    <%= form_with url: datos_personals_guardar_datos_path , method: :post do |f|%>
      <div class="hstack gap-3">
        <%= f.label "Nombre"%>
        <%= f.text_field :nombre ,class: :'form-control'%>
        <%= f.label "Apellido"%>
        <%= f.text_field :apellidos,class: :'form-control' %>
      </div>
      <br>
      <div class="hstack gap-3">
        <%= f.label "Puesto"%>
        <%= f.text_field :puesto,class: :'form-control' %>
        <%= f.label "Titulo"%>
        <%= f.text_field :titulo,class: :'form-control' %>
      </div>
      <br>
      <%= f.text_field :user,value:current_user.id,hidden:true %>
      <%= f.submit "Guardar Datos", class: "btn btn-primary btn-sm" %>
    <% end %>
  <% else %>
    <%= link_to "Capturar Documento", new_documento_path,class: :"btn btn-sm btn-success" %>
    <button id="btn_buscar" class="btn btn-sm btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span><%=image_tag("search.svg")%></span> Busqueda</button>
    <%= link_to "Limpiar busqueda", home_limpiar_busqueda_path, method: :post, class: "btn btn-sm btn-warning" %>
  <% end %><br>
</div>
<div  style="overflow:auto; height:550px">
  <table class="table table-hover letra" >
    <% @buzones.each do |buzon| %>
      <% b = buzon.documento %>
      <thead class="table-dark">
        <tr>
          <th>No</th>
          <th>No. de Memorandum</th>
          <th>Area responsable</th>
          <th>No. Libro</th>
          <th>Fechas</th>
          <th>Observaciones</th>
          <th>Documento</th>
        </tr>
      </thead>
      <tr>
        <td><%= b.id %></td>
        <td><%= b.no_documento %></td>
        <td><%= b.area.nombre %></td>
        <td><%= b.no_libro %></td>
        <td rowspan="3"  style="border-right: 1px solid black;">
          <table class="table" >
            <tr>
              <td class="table-active"><label><b>Fecha Recepcion</b></label></td>
              <td><%= b.fecha_recepcion %></td>
            </tr>
            <tr>
              <td class="table-active"><label><b>Fecha Disposición</b></label></td>
              <td><%= b.fecha_disp %></td>
            </tr>
            <tr>
              <td class="table-active"><label><b>Fecha Conclusión</b></label></td>
              <td><%= b.fecha_conclucion %></td>
            </tr>
          </table>
        </td>
        <td rowspan="3" style="border-right: 1px solid black;"><%= b.observaciones %></td>
        <td  rowspan="3">
          <%= link_to raw("ver archivo <br>#{image_tag("binoculars.svg",size:"20x20")} #{
            image_tag "filetype-pdf-w.svg",size:"20x20"}"), 
            url_for(b.archivo),
            target: :"_blanck",class: :"btn btn-secondary btn-sm"
          %>
          <br>
          <br>
          <% if current_user.rol == 1 %>
            <%= link_to "Editar documento", edit_documento_path(b), class: "btn btn-warning btn-sm" %>
          <%end %>
          <br>
          <br>
          <%= link_to raw("ver #{b.archivo.filename}"), b, class: "btn btn-primary btn-sm nombre_corto" %>
          
        </td>
      </tr>
      <tr class="table-active">
        <th>Nombre</th>
        <th>Notario</th>
        <th>No. Notaria</th>
        <th>No. Oficio conclucion</th>
      </tr>
      <tr class=" table-group-divider">
        <td><%= b.nombre_paciente %></td>
        <td><%= b.nombre_notario %></td>
        <td><%= b.no_notaria %></td>
        <td><%= b.no_oficio_de_conclucion %></td>
      </tr>
      <tr></tr>
    <% end %>
  </table>
</div>
<div class="offcanvas offcanvas-end  w-50 " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Busqueda</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="bg-white " style="font-size:12px" data-controller="home">
      <%= render "partials/menu_busqueda"%>
    </div>
  </div>
</div>