<div class="container form-control bg-white" data-controller="home">
  <%= link_to "Capturar Documento", new_documento_path,class: :"btn btn-sm btn-success" %>
  <button id="btn_buscar" class="btn btn-sm btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span><%=image_tag("search.svg")%></span> Busqueda</button>
  <%= link_to "Limpiar busqueda", home_limpiar_busqueda_path, method: :post, class: "btn btn-sm btn-warning" %>
</div>
<div  style="overflow:auto; height:550px">
  <table class="table table-hover letra" >
    <% @buzones.each do |buzon| %>
      <% b = buzon.documento %>
      <thead class="table-dark">
        <tr>
          <th>No. Documento</th>
          <th>Área</th>
          <th>No. Libro</th>
          <th>No. Notaria</th>
          <th>No. Oficio conclucion</th>
          <th>No. Instrumento</th>
          <th>Fechas</th>
          <th>Observaciones</th>
          <th>Documento</th>
        </tr>
      </thead>
      <tr>
        <td><%= b.no_documento %></td>
        <td><%= b.area.nombre %></td>
        <td><%= b.no_libro %></td>
        <td><%= b.no_notaria %></td>
        <td><%= b.no_oficio_de_conclucion %></td>
        <td style="border-right: 1px solid black;"><%= b.no_instrumento %></td>
        <td rowspan="5"  style="border-right: 1px solid black;">
          <table class="table" >
            <tr>
              <td class="table-active"><label><b>Fecha Recepcion</b></label></td>
              <td><%= b.fecha_recepcion %></td>
            </tr>
            <tr>
              <td class="table-active"><label><b>Fecha Disposición</b></label></td>
              <td><%= b.fecha_disp %></td>
            </tr>
            <tr>
              <td class="table-active"><label><b>Fecha Conclusión</b></label></td>
              <td><%= b.fecha_conclucion %></td>
            </tr>
          </table>
        </td>
        <td rowspan="5" style="border-right: 1px solid black;"><%= b.observaciones %></td>
        <td  rowspan="5">
          <%= link_to raw("ver archivo #{image_tag("binoculars.svg",size:"20x20")} #{
            image_tag "filetype-pdf-w.svg",size:"20x20"}"), 
            url_for(b.archivo),
            target: :"_blanck",class: :"btn btn-secondary btn-sm"
          %>
          <br>
          <br>
          <% if current_user.rol == 1 %>
            <%= link_to "Editar documento", edit_documento_path(b), class: "btn btn-warning btn-sm" %>
          <%end %>
          <br>
          <br>
          <%= link_to raw("Detalles #{b.archivo.filename}"), b, class: "btn btn-primary btn-sm nombre_corto" %>
        </td>
      </tr>
      <tr class="table-active">
        <td class="table-dark">
          <p style="color:white"><b>Paciente</b></p>
        </td>
        <td style="border-right: 1px solid black;" colspan="5"><%= b.nombre_completo %></td>
      </tr>
      <tr >
        <td class="table-dark">
          <p style="color:white"><b>Notario</b></p>
        </td>
        <td style="border-right: 1px solid black;" colspan="5" class="table-active" ><%= b.nombre_completo_notario %></td>
      </tr>
      <tr >        
        <td class="table-dark">
          <p style="color:white"><b>Responsable</b></p>
        </td>
        <td style="border-right: 1px solid black;" colspan="5" class="table-active" >
          <% if b.nombre_res_op.nil? || b.nombre_res_op == "" %>
            <%= b.nombre_completo_responsable %>
          <% else %>
            <%= b.nombre_completo_responsable_op%>
          <% end %>
        </td>
      </tr>
      <tr></tr>
    <% end %>
  </table>
</div>
<div class="offcanvas offcanvas-end  w-50 " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Busqueda</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="bg-white " style="font-size:12px" data-controller="home">
      <%= render "partials/menu_busqueda"%>
    </div>
  </div>
</div>