<div class="container form-control bg-white" data-controller="home">
  <% if current_user.datos_personal.nil? %>
    <div> Ingrese sus Datos personales para poder capturar</div><br>
      <%= form_with url: datos_personals_guardar_datos_path , method: :post do |f|%>          
        <div class="hstack gap-3">          
              <%= f.label "Nombre"%>
              <%= f.text_field :nombre ,class: :'form-control'%>                
              <%= f.label "Apellido"%>
              <%= f.text_field :apellidos,class: :'form-control' %>                          
        </div><br>
        <div class="hstack gap-3">
              <%= f.label "Puesto"%>
              <%= f.text_field :puesto,class: :'form-control' %>                
              <%= f.label "Titulo"%>
              <%= f.text_field :titulo,class: :'form-control' %>                          
        </div><br>
        <%= f.text_field :user,value:current_user.id,hidden:true %>                          
        <%= f.submit "Guardar Datos", class: "btn btn-primary btn-sm" %>
      <% end %>   
  <% else %>  
    <%= link_to "Capturar Documento", documentos_captura_doc_path %>
  <% end %>
</div>
<%= turbo_frame_tag "tabla_principal" do %>  
<% end %>