<div class=" form-control bg-white" data-controller="home">
  <div class="hstack gap-3">
    <div class="p-2">
      <% if current_user.rol == 1 %>
        <%= link_to "Capturar Documento", new_documento_path,class: :"btn btn-sm btn-success" %>
      <% end %>
      <button id="btn_buscar" class="btn btn-sm btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span><%=image_tag("search.svg")%></span> Busqueda</button>
      <%= link_to "Limpiar busqueda", home_limpiar_busqueda_path, method: :post, class: "btn btn-sm btn-warning" %>
      <% if current_user.rol == 1 %>
        <%= link_to raw("#{image_tag("file-earmark-bar-graph.svg")} Exportar a Excel") ,home_generar_reporte_path(format: :xlsx),class: :"btn btn-sm btn-success",target: :'_blank' %>
      <% end %>
    </div>
    <div class="p-2 ms-auto "><b>SUBDIRECCIÓN DE HOSPITALES</b></div>
  </div>
</div>
<div  style="overflow:auto; height:550px">
  <table class="table  letra" >
    <% @buzones.each do |buzon| %>
      <% b = buzon.documento %>
      <thead class="table-dark">
        <tr>
          <th>No. Documento</th>
          <th>Área que turna</th>
          <th>No. Libro</th>
          <th>No. Notaria</th>
          <th>No. Instrumento</th>
          <th>Capturista</th>
          <th>Números de conclusión</th>
          <th>Observaciones</th>
          <th></th>
        </tr>
      </thead>
      <tr>
        <td><%= b.no_documento %></td>
        <td><%= b.area.nombre %></td>
        <td><%= b.no_libro %></td>
        <td><%= b.no_notaria %></td>
        <td ><%= b.no_instrumento %></td>
        <td style="border-right: 1px solid black;">   
          <%= buzon.user.datos_personal.nombre_completo %>       
          <% if buzon.user.nil? %>
            <%= buzon.user.datos_personal.nombre_completo %>
          <% end %>
        </td>
        <td rowspan="5"  style="border-right: 1px solid black;">
          <div>
            <table class="table" > 
              <thead class="table-secondary">
                <tr>
                  <th>#</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tr>
                <td class="table-active"><label><b>Fecha de Institución Pública</b></label></td>
                <td><%= b.fecha_clc_pub %></td>
              </tr>
              <tr>
                <td class="table-active"><label><b>Fecha de Institución Privada</b></label></td>
                <td><%= b.fecha_clc_priv %></td>
              </tr>
              <tr>
                <td class="table-active"><label><b>Bioética</b></label></td>
                <td><%= b.fecha_clc_bioetica %></td>
              </tr>
            </table>
          </div>
        </td>
        <td rowspan="5" style="border-right: 1px solid black;"><%= b.observaciones %></td>
        <td  rowspan="5">
          <%= link_to raw("ver archivo #{image_tag("binoculars.svg",size:"20x20")} #{
            image_tag "filetype-pdf-w.svg",size:"20x20"}"), 
            url_for(b.archivo),
            target: :"_blanck",class: :"btn btn-secondary btn-sm"
          %>
          <br>
          <br>
          <%= link_to raw("Detalles #{b.archivo.filename}"), b, class: "btn btn-primary btn-sm nombre_corto" %>
          <br>
          <br>
          <% if current_user.rol == 1 %>
            <%= link_to "Editar documento", edit_documento_path(b), class: "btn btn-warning btn-sm" %>
          <%end %>
        </td>
      </tr>
      <tr>
        <td class="table-active"><label><b>Fecha de Creación</b></label></td>
        <td><%= b.created_at.strftime("%F - %I:%M %p") %></td>
        <td class="table-active"><label><b>Fecha Recepcion</b></label></td>
        <td><%= b.fecha_recepcion %></td>
        <td class="table-active" ><label><b>Fecha Disposición</b></label></td>
        <td style="border-right: 1px solid black;"><%= b.fecha_disp %></td>
      </tr>
      <tr >
        <td colspan="2" class="table-active">
          <p><b>Paciente</b></p>
        </td>
        <td style="border-right: 1px solid black;" colspan="4"><%= b.nombre_completo %></td>
      </tr>
      <tr >
        <td colspan="2" class="table-active">
          <p><b>Notario</b></p>
        </td>
        <td style="border-right: 1px solid black;" colspan="4"  ><%= b.nombre_completo_notario %></td>
      </tr>
      <tr >
        <td colspan="2" class="table-active">
          <p><b>Responsable Legal del Paciente</b></p>
        </td>
        <% if !b.nombre_res_op.nil? || !b.nombre_res_op == "" %>
          <td  colspan="2"  >
          <% else %>
            <td style="border-right: 1px solid black;" colspan="4"  >
            <% end %>
            <%= b.nombre_completo_responsable %>
          </td>
          <% if !b.nombre_res_op.nil? || !b.nombre_res_op == "" %>
            <td  class="table-active">
              <p><b>2° Responsable Legal del Paciente</b></p>
            </td>
            <td style="border-right: 1px solid black;"   >
              <%= b.nombre_completo_responsable_op %>
            </td>
          <% end %>
        </tr>
        <tr></tr>
      <% end %>
    </table>
  </div>
  <div class="offcanvas offcanvas-end  w-50 " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Busqueda</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="bg-white " style="font-size:12px" data-controller="home">
        <%= render "partials/menu_busqueda"%>
      </div>
    </div>
  </div>