<div class="container form-control bg-white" data-controller="home">
  <% if current_user.datos_personal.nil? %>
    <div> Ingrese sus Datos personales para poder capturar</div><br>
      <%= form_with url: datos_personals_guardar_datos_path , method: :post do |f|%>          
        <div class="hstack gap-3">          
              <%= f.label "Nombre"%>
              <%= f.text_field :nombre ,class: :'form-control'%>                
              <%= f.label "Apellido"%>
              <%= f.text_field :apellidos,class: :'form-control' %>                          
        </div><br>
        <div class="hstack gap-3">
              <%= f.label "Puesto"%>
              <%= f.text_field :puesto,class: :'form-control' %>                
              <%= f.label "Titulo"%>
              <%= f.text_field :titulo,class: :'form-control' %>                          
        </div><br>
        <%= f.text_field :user,value:current_user.id,hidden:true %>                          
        <%= f.submit "Guardar Datos", class: "btn btn-primary btn-sm" %>
      <% end %>   
  <% else %>  
    <%= link_to "Capturar Documento", documentos_captura_doc_path %>
  <% end %><br> 
</div>
 <table class="table table-dark table-hover">
    <thead class="table-dark">
      <tr>
        <th>No</th>
        <th>Fecha de Recepci贸n</th>
        <th>No. de Memorandum</th>
        <th>Area responsable</th>
        <th>No. Instrumento</th>
        <th>No. Libro</th>
        <th>Nombre</th>
        <th>Fecha de Disposici贸n</th>
        <th>Notario</th>
        <th>No. Notaria</th>
        <th>No. de Oficio de Concluci贸n</th>
        <th>Fecha de Concluci贸n</th>
        <th>Documento</th>
        <th>Observaciones</th>
      </tr>
    <% @buzones.each do |b| %>
      <tr>
        <td><%= b.id %></td>
        <td><%= b.fecha_recepcion %></td>
        <td><%= b.no_memo %></td>
        <td><%= b.area_responsable %></td>
        <td><%= b.no_instrumento %></td>
        <td><%= b.no_libro %></td>
        <td><%= b.nombre %></td>
        <td><%= b.fecha_disposicion %></td>
        <td><%= b.notario %></td>
        <td><%= b.no_notaria %></td>
        <td><%= b.no_oficio_conclucion %></td>
        <td><%= b.fecha_conclucion %></td>
        <td><%= b.documento %></td>
        <td><%= b.observaciones %></td>
      </tr>
    <% end %>
  </table>
  <div id="paginacion_container" class="footer">
    <%= will_paginate(@buzones,:renderer => WillPaginate::ActionView::BootstrapLinkRenderer ) %>
  </div>