<div id="<%= dom_id documento %>">
  <div class="hstack gap-3">
  <p class="form-control">
    <strong>Fecha recepcion:</strong>
    <%= documento.fecha_recepcion %>
  </p>
  <p class="form-control">
    <strong>No memo:</strong>
    <%= documento.no_memo %>
  </p>
  <p class="form-control" >
    <strong>Area:</strong>
    <%= documento.area.nombre %>
  </p>
  </div>
  <div class="hstack gap-3">
  <p class="form-control">
    <strong>No libro:</strong>
    <%= documento.no_libro %>
  </p>

  <p class="form-control">
    <strong>Nombre:</strong>
    <%= documento.nombre %>
  </p>

  <p class="form-control" >
    <strong>Fecha disp:</strong>
    <%= documento.fecha_disp %>
  </p>
  </div>
  <div class="hstack gap-3">
  <p class="form-control">
    <strong>Notario:</strong>
    <%= documento.notario %>
  </p>
  <p class="form-control">
    <strong>No notaria:</strong>
    <%= documento.no_notaria %>
  </p>
  <p class="form-control" >
    <strong>No oficio de conclucion:</strong>
    <%= documento.no_oficio_de_conclucion %>
  </p>
  </div>
  <div class="hstack gap-3">
  <p class="form-control">
    <strong>Fecha conclucion:</strong>
    <%= documento.fecha_conclucion %>
  </p>
  <p class="form-control">
    <strong>Responsable del Paciente:</strong>
    <%= documento.responsable_de_paciente %>
  </p>
  <p class="form-control">
    <strong>Observaciones:</strong>
    <%= documento.observaciones %>
  </p>
  </div>
  <div class="hstack gap-3">
    <% if documento.archivo.attached? %>
      <p class="form-control">
        <strong>Archivo adjunto:</strong>
        <% if documento.archivo.image? %>
          <%= link_to rails_blob_path(documento.archivo, disposition: "attachment") do %>
            <%= image_tag documento.archivo,width:200 %>
          <% end %>
        <% else %>
          <%= link_to documento.archivo.filename, url_for(documento.archivo),target: :"_blanck",class: :"message-file"%>        
        <% end %>
      </p>
    <% end %>
  </div>
</div>
