<div id="<%= dom_id documento %>"><br>
  <div class="hstack gap-3">
    <p class="form-control">
      <strong>Fecha recepcion:</strong>
      <%= documento.fecha_recepcion %>
    </p>
    <p class="form-control" >
      <strong>Fecha dispocición:</strong>
      <%= documento.fecha_disp %>
    </p>
    <p class="form-control">
      <strong>Instituciónes Públicas:</strong>
      <%= documento.fecha_clc_pub %>
    </p>
    <p class="form-control">
      <strong>Instituciónes Privadas:</strong>
      <%= documento.fecha_clc_priv %>
    </p>
    <p class="form-control">
      <strong>Bioética:</strong>
      <%= documento.fecha_clc_bioetica %>
    </p>
  </div>
  <div class="hstack gap-3">
    <p class="form-control">
      <strong>No documento:</strong>
      <%= documento.no_documento %>
    </p>
  </div>
  <div class="hstack gap-3">
    <p class="form-control">
      <strong>Nombre completo del Paciente:</strong>
      <%= documento.nombre_paciente %>
      <%= documento.apellido_p_paciente %>
      <%= documento.apellido_m_paciente %>
    </p>
  </div>
  <div class="hstack gap-3">
    <p class="form-control">
      <strong>Nombre completo del Notario:</strong>
      <%= documento.nombre_notario %>
      <%= documento.apellido_p_notario %>
      <%= documento.apellido_m_notario %>
    </p>
  </div>
  <div class="hstack gap-3">
    <p class="form-control">
      <strong>Nombre completo del Responsable:</strong>
      <%= documento.nombre_responsable %>
      <%= documento.apellido_p_responsable %>
      <%= documento.apellido_m_responsable %>
    </p>
  </div>
  <div class="hstack gap-3">
    <p class="form-control">
      <strong>Nombre completo de un 2° Responsable:</strong>
      <%= documento.nombre_res_op %>
      <%= documento.apellido_p_res_op %>
      <%= documento.apellido_m_res_op %>
    </p>
  </div>
  <div class="hstack gap-3">
    <p class="form-control" >
      <strong>No Instrumento:</strong>
      <%= documento.no_instrumento %>
    </p>
    <p class="form-control">
      <strong>No libro:</strong>
      <%= documento.no_libro %>
    </p>
  </div>
  <div class="hstack gap-3">
    <p class="form-control">
      <strong>Area:</strong>
      <%= documento.area.nombre %>
    </p>
  </div>
  <div class="hstack gap-3">
    <p class="form-control">
      <strong>No notaria:</strong>
      <%= documento.no_notaria %>
    </p>    
  </div>
  <div class="hstack gap-3">
    <p class="form-control">
      <strong>Observaciones:</strong>
      <%= documento.observaciones %>
    </p>
  </div>
  <div class="hstack gap-3">
    <% if documento.archivo.attached? %>
      <p class="form-control">
        <strong>Archivo adjunto:</strong>
        <% if documento.archivo.image? %>
          <%= link_to rails_blob_path(documento.archivo, disposition: "attachment") do %>
            <%= image_tag documento.archivo,width:200 %>
          <% end %>
        <% else %>
          <%= link_to documento.archivo.filename, url_for(documento.archivo),target: :"_blanck",class: :"message-file"%>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>